Repository ethanuppal/marlin, pull requests merged in 2025-04, with the labels that each got.

#129 fix: Prevent `#[spade]` and `#[veryl]` from hanging in absence of manifest
  language-support/spade-macro/src/lib.rs
  language-support/spade/src/lib.rs
  language-support/veryl-macro/src/lib.rs
  language-support/veryl/src/lib.rs
Labels: Code: Spade Support, Code: Veryl Support

#133 chore: Fix a new clippy lint
  verilator/src/build_library.rs
Labels: Code: Verilator

#134 docs(internal): Update release process information
  book/internal/release-process.md
Labels: Documentation

#135 docs: Document main macros
  README.md
  book/SUMMARY.md
  book/internal/about-internal.md
  book/internal/how-it-works.md
  book/reference/bridging-macros.md
  book/reference/model-traits.md
  book/reference/vcd.md
  book/verilog/reference/bridging-macros.md
  book/verilog/reference/model-traits.md
  book/verilog/reference/vcd.md
Labels: Documentation
